<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${'Edit post'})">
    <meta charset="UTF-8"/>
    <title>title</title>
</head>
<body>

<nav th:replace="fragments/nav :: nav">
    Placeholder for nav bar
</nav>

<div class="container">
    <div class="form-group">
        <h1>Form</h1>
        <form th:action="@{'/blog/'+ ${post.id} +'/edit'}" th:object="${post}" method="post">

            <p>Title: <input class="form-control" type="text" th:field="*{title}" /></p>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />

            <p>Body: <textarea class="form-control" rows="3" th:field="*{body}"></textarea></p>
            <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />

            <p>Image: <input class="form-control" type="text" th:field="*{imgUrl}" /></p>

            <p><input type="submit" class="btn btn-default" value="Submit" />
                <input type="reset" class="btn btn-default" value="Reset" /> </p>
        </form>
    </div>
</div>


<footer th:replace="fragments/footer :: footer">
    this is the current footer
</footer>

</body>
</html>