<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${'View Posts'})">
    <meta charset="UTF-8"/>
    <title>title</title>
</head>
<body>
<nav th:replace="fragments/nav :: nav">
    Placeholder for nav bar
</nav>

<div class="container">
    <div class="page-header">
        <h1>Blog <small>Blog-a-riffic</small></h1>
    </div>

    <div class="media" th:each="p : ${posts}">
        <div class="media-left">
            <a href="#">
                <img th:src="${(p.imgUrl)}" alt=""/>
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading" th:text="${p.title}">Media heading</h4>
            <div th:text="${p.body}"></div>
        </div>
    </div>



    <footer th:replace="fragments/footer :: footer">
        this is the current footer
    </footer>
</div>
</body>
</html>