<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${'View ID post'})">
    <meta charset="UTF-8"/>
    <title>title</title>
</head>
<body>

<nav th:replace="fragments/nav :: nav">
    Placeholder for nav bar
</nav>

<div class="media" th:each="p : ${post}">

    <div class="media-left">
        <a href="#">
            <img th:src="${(p.imgUrl)}" alt=""/>
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading" th:text="${p.title}">Media heading</h4>
        <div th:text="${p.body}"></div>
    </div>



</div>

<footer th:replace="fragments/footer :: footer">
    this is the current footer
</footer>
</body>
</html>