body {
    color: hotpink;
    background-color: midnightblue;
}
footer {
    color: hotpink;
    background-color: mediumblue;
}

footer img {
    width: auto;
    max-height: 65px
}

nav img {
    width: auto;
    height: 100%;

}