<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Footer</title>
</head>
<body>

<footer th:fragment="footer" class="container-fluid">
    <div class="row">
        <div class="container col-md-12">
            <div class="col-xs-1">
                <a class="github" href="https://github.com/lloydtheandroid" target="_blank">
                    <img src="img/githubFooter.png" class="img-responsive" alt="Responsive image" title="View my Github" />
                </a>
            </div>
            <div class="col-xs-1">
                <a class="twitter" href="https://twitter.com/lloydtheandroid" target="_blank">
                    <img src="img/TwitterFooter.png" class="img-responsive" alt="Responsive image" title="Follow me on twitter" />
                </a>
            </div>
            <div class="col-xs-1">
                <a class="facebook" href="https://www.facebook.com/lloydtheandroid" target="_blank">
                    <img src="img/FBFooter.png" class="img-responsive" alt="Responsive image" title="Find me on Facebook" />
                </a>
            </div>
            <div class="col-xs-1">
                <a class="dribbble" href="https://dribbble.com/lloydtheandroid" target="_blank">
                    <img src="img/DribbleFooter.png" class="img-responsive" alt="Responsive image" title="View my Dribble" />
                </a>
            </div>
            <div class="col-xs-1">
                <a class="instagram" href="https://instagram.com/lloydtheandroid" target="_blank">
                    <img src="img/InstagramFooter.png" class="img-responsive" alt="Responsive image" title="Follow me on Instagram" />
                </a>
            </div>

        </div>
    </div>
    <div class="col-xs-offset-6 col-xs-4 col-sm-3">&copy; lloydtheandroid 2016</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</footer>
</body>
</html>